

@{
    ViewData["Title"] = "Prikaz";
}

@*@model List<WebApplication1.Models.Karta.KartaUrediVM>*@
@model List<WebApplication1.Models.Karta.KartaUrediVM>
<table class="table-bordered">
    <thead>
        <tr>
            <td>Vrijeme polaska:</td>
            <td>Vrijeme dolaska:</td>
            <td>Mjesto polaska:</td>
            <td>Mjesto dolaska:</td>
            @*<td>Broj putnika:</td>*@
            <td>Ime linije:</td>
            <td>Stajalista i satnice:</td>
            <td>Akcija</td>
        </tr>
    </thead>
    <tbody>
        @*<tr>
            <td>@Model.VrijemePolaska</td>
            <td>@Model.VrijemeDolaska</td>
            <td>@Model.PolazisteNaziv</td>
            <td>@Model.DolazisteNaziv</td>
            <td>@Model.ImeLinije</td>

            <td>@Model.Stajalista</td>

        </tr>*@
        @foreach (WebApplication1.Models.Karta.KartaUrediVM k in Model)
        {
        <tr>
            <td>@k.VrijemePolaska</td>
            <td>@k.VrijemeDolaska</td>
            <td>@k.PolazisteNaziv</td>
            <td>@k.DolazisteNaziv</td>
            <td>@k.ImeLinije</td>

                <td>@k.Stajalista</td>

        </tr>
        }
    </tbody>
</table>

